@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary Styling for the website */
.text-sec
{
    @apply text-[1rem] text-primaryColor font-bold tracking-wide;
}
.text-head
{
    @apply sm:text-[3.3rem] text-[9.7vw] font-extrabold tracking-wide sm:leading-[3.8rem] leading-[10vw] ;
}
.text-desc
{
    @apply text-[0.6rem] sm:text-[0.8rem] text-gray-500;
}
.text-sec-head
{
    @apply text-[1.2rem] font-extrabold;
}


/* Styling the slider component */
.slick-track
{
    height:24rem;
}
.slick-dots li button:before {
    font-size: 9px; 
    color: gray; 
}


.slick-dots li.slick-active button:before {
    font-size: 9px; 
    color: #F77613; 
}

/* custom flex simple  */
.custom-flex {
    @apply flex items-center 
}
.custom-flex-center {
    @apply flex items-center justify-center
}

.custom-flex-between {
    @apply flex items-center justify-between
}

/* only large screen */
.custom-lg-flex-between {
    @apply lg:flex lg:items-center lg:justify-between
}

.custom-button{
    @apply bg-primaryColor text-white p-4
}